.campervan-list-body {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
}

.box {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(245px, 1fr));
  grid-gap: 15px;
}
