
.camper-p-grid  {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 35px;
  grid-template-columns: 50% 50%;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.camper-column-left {
  padding: 1rem;
  border-radius: 20px;
  height: 85vh;
}

.camper-header {
  font-size: 24px;
  border-bottom: 0.1px solid rgb(151, 151, 151);
  padding-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.camper-p-image {
  width: 100%;
  border-radius: 20px;
}

.profile-box {
  padding-top: 15px;

}

.profile-information {
  font-size: 15px;
  font-weight: 400;
  color:rgb(108, 108, 108);
}


.profile-container {
  padding-top: 15px;
  display: grid;
  gap: 1rem;
  grid-template-columns: 50% 50%;
}

.campervan-image {
  border-radius: 20px;
  max-width: 250px;
  height: 100%;
  object-fit: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.camper-box{
  margin: 0 auto;
  display: grid;
  grid-template-columns: 40% 60%;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;  border-radius: 20px;

}

.spacing-camper-box {
  padding-bottom: 15px;
}

.camper-information {
  padding: 10px 10px;
}

.booking-header {
  font-size: 20px;
  border-bottom: 0.1px solid rgb(151, 151, 151);
  padding-bottom: 5px;
  margin-bottom: 5px;
}


.c {
  padding: 10px;
}

.camper-column-right {
  padding: 10px;
  color:rgb(108, 108, 108);
  position: sticky;
	top: 75px ;


}

.camper-section {
  border-top: 1px solid rgb(200, 200, 200);
  padding-top: 10px;
  color:rgb(108, 108, 108);
}





.camper-card-container {
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 1rem;
  height: 100%;
}

.camper-card-category {
  width: 100%;
}

.camper-img-1 img {
  width: 100%;
  object-fit: cover;
  object-position: bottom;
  border-radius: 20px;
  height: 350px;
}

.camper-grid-profile {
  display: flex;
  justify-content: space-between;
  height: 500px;

}



.camper-grid-profile  {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: 50% 50%;
  justify-content: center;
  padding: 1rem;
}

.capacity-container {
  padding-top: 15px;
  display: grid;
  gap: 1rem;
  grid-template-columns: 50% 50%;
}

.title-camper {
  border-bottom: 1px solid rgb(211, 211, 211);
  font-size: 16px;
  padding-right: 15px;
}

.capacity-container-amenities {
  padding-top: 15px;
  display: grid;
  gap: 1rem;
  grid-template-columns: 50% 50%;

}

.capacity-header-amenity {
  font-size: 22px;
  font-weight: 300;
  padding-top: 30px;
}
