.profile-header {
  font-size: 24px;
  border-bottom: 0.1px solid rgb(151, 151, 151);
  padding-top: 10px;
  padding-bottom: 14px;
  margin-bottom: 10px;
  text-align: center;
}

.profile-image {
  height: 50%;
}

.profile-box {
  padding-top: 15px;

}

.profile-information {
  font-size: 15px;
  font-weight: 400;
  color:rgb(108, 108, 108);
}

.profile-grid  {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 35px;
  grid-template-columns: 40% 60%;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.profile-container {
  padding-top: 15px;
  display: grid;
  gap: 1rem;
  grid-template-columns: 50% 50%;
}

.profile-column-left {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 1rem;
  border-radius: 20px;
  height: 85vh;
  position: sticky;
	top: 75px ;
}
.campervan-image {
  border-radius: 20px;
  max-width: 250px;
  height: 100%;
  object-fit: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.camper-box{
  margin: 0 auto;
  display: grid;
  grid-template-columns: 40% 60%;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;  border-radius: 20px;

}

.spacing-camper-box {
  padding-bottom: 15px;
}

.camper-information {
  padding: 10px 10px;
}

.booking-header {
  font-size: 20px;
  border-bottom: 0.1px solid rgb(151, 151, 151);
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.camper-section {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;  border-radius: 20px;
}

.c {
  padding: 10px;
}
