.cards-user {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.userh2 {
  text-align: center;
  padding: 12px;
}

.cards-user2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 16px;
  margin: 16px;
}

.user-card {
  height: 50px;
  width: 50px;
}

.cards-user2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 16px;
}

.border {
  border-style: solid;
}

.user-profile {
  margin-left: 100px;
  margin-right: 100px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-user2 {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-user2 {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-user2 {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-user2 {
    grid-template-columns: 1fr 2fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-user2 {
    grid-template-columns: 1fr 2fr;
  }
}

.card-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  border-radius: 5px;
  border-style: solid;
  background-color: rgba(255,255,255,0.1);
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

