
<div class="form-image">
        <div class="container-form form-booking" >
          <div class="form-header">
            New Booking for <%= @campervan.user.first_name %>'s <%= @campervan.camper_make %>
          </div>
          <%= render "form", campervan: @campervan %>
       </div>
</div>
