<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-left text-white">
    <div class="container">
      <div class="hero-text">
        <h1 class="typed-js">Don’t imagine, book your next camper adventure now!</h1>
      </div>
    </div>
    <div class="container" >
      <%= link_to "Browse", campervans_path, class: "btn btn-flat" %>
    </div>
  </div>
</div>
