<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-left text-white">
    <div class="container">
      <div class="hero-text">
      <% if current_user %>
        <h1 class="typed-js">Hey, <%= @user.first_name %>. Book your next camper adventure now!</h1>
      <% else %>
        <h1 class="typed-js">Don't just imagine; book your next camper adventure now!</h1>
      <% end %>
      </div>
    </div>
    <div class="container" >
      <%= form_tag campervans_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Where are you looking to rent your camper?"
        %>
        <%= submit_tag "Search", class: "btn btn-flat" %>
      <% end %>
      <br>
    </div>
  </div>
</div>
