<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<%= link_to "Users", users_path(), class: "btn btn-primary"%>
<%= link_to "User Sign Up", new_user_registration_path(), class: "btn btn-primary"%>
<%= link_to "Edit User", edit_user_registration_path(), class: "btn btn-primary"%>

