.card-list {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 300px;
  border-radius: 20px;
}

.camper-images {
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}


.card-list .card-trip-infos {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  vertical-align: middle;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.fa-solid {
  padding-right: 7px;
  color: #6CA1D0;
}

.top-row {
  padding: 8px;

  border-bottom: 0.1px solid rgb(151, 151, 151);
}

.bottom-row {
  padding-top: 8px;
  padding-bottom: 8px;
}

.price {
  font-size: 14px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between
}

.flex-container > div {
  padding: 8px 7px 8px 7px;
  font-size: 16px;
}


.carousel-image img{
  height: 300px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  width: 50%;

}

.cards-container .cards {
  padding: 16px;
}

.inner-container #map {
height: 100vh;
width: 100%;
object-fit: cover;
}

.inner-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}
