.container-index {
  display: flex;
}




.card-demo {
  // padding: 1rem;
  height: fit-content;
  border-radius: 20px;
  color: #717171;
  font-size: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  width: 30%;
  min-width: 245px;
  padding-bottom: 10px;
}

.cards-demo {
  width: 60vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  // grid-template-columns: repeat(auto-fit, minmax(221px, 277px));
  justify-content: flex-end;
  padding: 1rem;

}

.carousel-image {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  height: 260px;
}

.owner-div {
  padding-bottom: 5px;
}

.card-info-container {
  padding: 2px;
  align-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
}

.info-div {
  display: flex;
  padding-left: 5px;
  justify-content: space-between;
  padding-bottom: 5px;
}

.booking-btn {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-top: 4px;
  p {
    padding-top: 2px;
  }
}

.map-container {
  border-radius: 20px;
  margin-right: 20px;
  top: 75px;
	position: sticky !important;
}
